@import url('https://fonts.googleapis.com/css?family=Arbutus%20Slab:700|Bellota%20Text:400');

/* General Styling */
:root {
--text: #f1eae3;
--background: #1a130a;
--primary: #d6bd97;
--primaryHSL: hsl(35, 42%, 72%);
--secondary: #6a7036;
--accent: #91ac53;
--accentLighter: hsl(79, 35%, 60%);
}

* {
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "montserrat", sans-serif;
}

h1, h2, h4, h5 {
  font-family: 'montserrat', sans-serif;

}

h1 {  font-size: 75px; font-family: "montserrat", sans-serif; }
h2 {  font-size: 30px; }

li {
    list-style: none;
}

a, p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--background);
    color: var(--text);
}


/* Header */
#nameBar {
display: flex;
justify-content: space-between;
letter-spacing: 1px;
word-spacing: 5px;
background-color: #d6bd971f;
padding: 10px;
font-family: "montserrat", sans-serif;
font-size: 1.5rem;
color: white;
}

#socialmedia {
    display: flex;
    align-items: space-around;
    gap: 50px
}

.fa-brands {
    text-decoration: none;
    font-size: 2rem;
    font-style: none;
    color: var(--accent);
}

#socialmedia .fa-brands:hover {
    color: var(--accentLighter);
}
#socialmedia .fa-brands:active {
    color: var(--secondary);
}

.fa-code {
    font-size: 1.2rem;
}

#topBar-items {
    display: flex;
    flex-direction: row;
}


#topBar-items {
    background-color: #d6bd971f;
    color: var(--text);

    padding: 10px;

    margin: 15px;
    z-index: 1;
    backdrop-filter: blur(30px);
 
    position: sticky;
}

#topBar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform:uppercase;
    margin: 15px auto;
}


.h-navs a {
    color: var(--primary);
    margin: 0;
    padding: 0;
}

#h-button {

    margin-left: 100px;
}

#h-button, .m-button {
    position: relative;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    /* transition: all 0.2s ease-in-out; */
}

#h-button a, .m-button{
    color: var(--background);
}

.h-navs a:hover {
    color: var(--primary);
    text-decoration: underline;
    text-shadow:0 0 .5px var(--primary);
}

#h-button:hover, .m-button:hover  {
    background-color: var(--accent);
    color: var(--background);
    box-shadow: 0 0 2px rgb(255, 255, 255);
    text-decoration: underline;
}

#h-button:active, .m-button:active {
    background-color: var(--accentLighter);
}

/* Main */

#mainSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #d6bd971f;

}

.hero-card {
    grid-column: span 1;
    grid-row: span 6;
    display: flex;
    flex-direction: column;

    padding: 15px;
    margin: 0;
}

.img-container {
    border: solid var(--accent) 2px;
    border-radius: 500px;
    box-shadow: white 0 0 5px;
    width: 315px;
    height: 315px;
    overflow: hidden;
    align-self: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#techStack {
    text-decoration: none;
    grid-row: span 1;
    grid-column: 2 / span 1;
    display: flex;
    padding: 20px;
    justify-content: space-around;

    gap: 15px;
}

#techStackHeader {
    background-color: #d6bd9732;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
}

#techStackBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid var(--accent) 2px;
    background-color: #d6bd971f;


}
/* ? Tech Stack styling */

.fa-js {
    color: hsl(54, 73%, 56%);
}

.fa-react {
    color: hsl(183, 57%, 49%);
}

.icon {
    background-color: var(--background);
    padding: 5px 15px;
    gap: 5px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-python {
    color: hsl(54, 73%, 56%);
}
.fa-css3-alt {
    color: hsl(220, 89%, 65%);
}

.fa-html5 {
    color: hsl(24, 100%, 55%);
}
.fa-node-js {
    color: hsl(79, 73%, 25%);
}
#aboutMe {
    grid-column: 2 / span 1;
    grid-row: span 6;
    padding: 20px;
    background-color: var(--background);
    margin: 0 auto;
}