@import url('https://fonts.googleapis.com/css?family=Arbutus%20Slab:700|Bellota%20Text:400');

/* General Styling */
:root {
--text: #f1eae3;
--background: #1a130a;
--primary: #d6bd97;
--primaryLighter: hsl(35, 42%, 82%);
--secondary: #6a7036;
--accent: #91ac53;
--accentLighter: hsl(79, 35%, 60%);
}

* {
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "montserrat", sans-serif;
}

h1, h2, h4, h5 {
  font-family: 'montserrat', sans-serif;
  color: hsl(35, 42%, 82%);

}

h1 {  font-size: 75px; font-family: "montserrat", sans-serif; }
h2 {  font-size: 30px; }

li {
    list-style: none;
}

a, p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--background);
    color: var(--text);
}


/* Header */
#nameBarBox {
    background-color: #d6bd9732
}

#nameBar {
display: flex;
justify-content: space-between;
letter-spacing: 1px;
word-spacing: 5px;


font-family: "montserrat", sans-serif;
font-size: 1.5rem;
color: white;
margin: 0 25px;
}

#barName {
    cursor: pointer;
    margin-top: 10px;
}

#socialmedia {
    display: flex;
    align-items: space-around;
    gap: 50px;
    margin-top: 10px;
}

.fa-brands {
    text-decoration: none;
    font-size: 2rem;
    font-style: none;
    color: var(--accent);
}

#socialmedia .fa-brands:hover {
    color: var(--accentLighter);
}
#socialmedia .fa-brands:active {
    color: var(--secondary);
}

.fa-code {
    font-size: 1.2rem;
}

#topBar-items {
    display: flex;
    flex-direction: row;
}

#topBarBox {
    position: sticky;
    background-color: #d6bd9732;
    color: var(--text);
    padding: 10px;
    z-index: 1;
    backdrop-filter: blur(30px);

}

#topBar-items {


    color: var(--text);

    padding: 10px;
    z-index: 1;
    backdrop-filter: blur(30px);
 
    position: sticky;
}

#topBar ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform:uppercase;
    margin: 15px auto;
}


.h-navs a {
    color: var(--primary);
    margin: 0;
    padding: 0;
}

#m-button {
    font-size: 1.2rem;
}

#h-button, #m-button {
    position: relative;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    /* transition: all 0.2s ease-in-out; */
}

#h-button a, #m-button a{
    color: var(--background);
}

.h-navs a:hover {
    color: var(--primary);
    text-decoration: underline;

}

.h-navs a:active {
    color: var(--primaryLighter);
}

#h-button:hover, #m-button:hover  {
    background-color: var(--accent);
    color: var(--background);
    box-shadow: 0 0 2px rgb(255, 255, 255);

}

#h-button:active, #m-button:active {
    background-color: var(--accentLighter);
}

/* Main */

#mainSection {
}

.hero-card {
    margin: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    background-color: #d6bd971f;
    /* display: none; */
}

#imgContainerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: span 1;
}

.img-container {
    border: solid var(--accent) 5px;
    border-radius: 500px;
    width: 315px;
    height: 315px;
    overflow: hidden;
    align-self: center;
}

.img-container:hover {
    transition: all 0.9s ease-in-out;
    border: goldenrod solid 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#heroTextBox {
    grid-column: 2 / span 1;
}

#heroText {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    cursor:default;
}

.hero-card ul {
    display: flex;
    justify-content: center;
    color: var(--background);
}

#techStack {
    display: flex;
    padding: 35px;
    justify-content: space-around;

}

#techStackHeader {
    background-color: #d6bd9732;
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;

}

#techStackBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #d6bd971f;
    margin: 0 10px 10px 10px;
    cursor: default;
    padding-bottom: 36px;
    /* display: none; */

}
/* ? Tech Stack styling */

.fa-js {
    color: hsl(54, 73%, 56%);
}

.fa-react {
    color: hsl(183, 57%, 49%);
}

.icon {
    background-color: var(--background);
    padding: 5px 15px;
    gap: 10px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-python {
    color: hsl(54, 73%, 56%);
}
.fa-css3-alt {
    color: hsl(220, 89%, 65%);
}

.fa-html5 {
    color: hsl(24, 100%, 55%);
}
.fa-node-js {
    color: hsl(79, 73%, 25%);
}
#aboutMeBox {
    display: none;
    padding: 20px;
    background-color: #d6bd971f;
    font-size: 1.2rem;
    margin: 0 10px;
    cursor: default;
    
}

#aboutMe {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;

}

#aboutMeContent {
    margin: 25px 75px;
    padding: 20px 50px;
    grid-column: 2 / span 4;
}

#aboutMeHeader {
    grid-column: span 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: var(--primaryLighter);
    margin: 25px 50px;

}

